{% extends 'projects/base.html' %}

{% load static %}

{% block content %}

<!-- Main content section -->
<main class="container">
    <div class="row">
        {% for project in projects %}
        <div class="col-md-6">
            <!-- Project Card -->
            <div class="card project-card">
                <img src="{% static project.image %}" alt="screenshot of project" class="card-img-top project-image">
                <div class="card-body">
                    <h2 class="card-title project-title">{{ project.title }}</h2> <!-- Display project title -->
                    <p class="card-text project-description">{{ project.description }}</p> <!-- Display project description -->
                    <p class="card-text project-technology">Technologies: {{ project.technology }}</p> <!-- Display project technologies -->
                    <a href="{% url 'projects:project_details' project.pk %}" class="btn btn-primary read-more-button">Read More</a> <!-- Button to read more about the project -->
                </div>
            </div>
            <!-- End of Project Card -->
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}