{% extends 'projects/base.html' %}

{% load static %}

{% block content %}

<main class="container">
        <div class="col-md-6">
            <img src="{% static project.image %}" alt="screenshot of project" class="card-img-top project-image">
            <div class="card-body">
                <h2 class="card-title project-title">{{ project.title }}</h2>
                <p class="card-text project-description">{{ project.description }}</p>
                <p class="card-text project-technology">Technologies: {{ project.technology }}</p>
            </div>
        </div>
</main>

{% endblock %}